* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header style starting here */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-text {
    color: #FF42A5;
}

.logo-text {
    font-size: 45px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 170px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.highlighted-menu {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.menu li:hover{
    cursor: pointer;
}


/* Banner style starting here */

.banner-section {
    background: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 170px;
}

.banner-content {
    width: 50%;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-content p,
button {
    margin: 15px;
}

.primary-btn {
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    ;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.general-btn {
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    margin-left: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.banner-img {
    width: 50%;
}

.banner-imgs {
    width: 100%;
}

/* about gamer section styling start here */

.about-gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 20px 150px;
}

.fancy-header {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

.about-gamer-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

blockquote {
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.about-gamer-content {
    text-align: end;
}

.about-gamer-img img {
    width: 100%;
}

/* Funny videos styling start here */

.funny-videos {
    margin: 20px 160px;
}

.funny-videos h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.funny-videos p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.images-videos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.images-videos-grid img {
    width: 100%;
}
.third-img-collab{
    position: relative;
}
.third-img-collab::before{
    background-image: url(./images/circle-play-solid.svg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    text-align: center;
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.5);
    border-radius: 5px;
}


/* play instantly styling start here */
.play-instantly {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin: 60px 160px;
}

.play-instanntly-content {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    width: 50%;
}

.play-instanntly-content,
.play-games-online-content p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}

.play-instant-img {
    position: relative;
}

.below-img {
    position: relative;
    width: 450px;
    z-index: 0;
}

.fold-img {
    width: 200px;
    height: auto;
    position: absolute;
    margin-top: 340px;
    margin-left: -80px;
    z-index: 1;
}

/* play games online styling start here */
.play-games-online {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 180px 0;
}

/* careers styling start here */
.careers-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F948B2;
    padding: 0 160px;
}

.career-designation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.careers-content {
    width: 50%;
}

.careers-content h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.careers-content p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

.career-designation {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.careers-btn {
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    background: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
    cursor: pointer;
}

.careers-img {
    width: 50%;
}

.careers-img img {
    width: 100%;
}

/* Game icon features style here */

.game-icon-features {
    display: flex;
    gap: 20px;
    flex-basis: 150px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    padding: 20px;
}

.game-icon-features{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.game-icon-item:hover{
    color: #F948B2;
    border: 1px solid #F948B2;
    border-radius: 35px;
    cursor: pointer;
}

.game-icon-item {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

/* Footer design start here */

footer {
    background-color: #0B0223;
    ;
    color: #FFF;
    padding: 30px 0;
}

.logo-footer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px 0;
    cursor: pointer;
}

.footer-icon {
    display: flex;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
}

.fa-twitter{
    width: 25px;
    color: #6b96f5;
}

.fa-facebook{
    width: 25px;
    color: #204491;
}

.fa-youtube{
    width: 25px;
    color: #f0163b;
}

.fa-linkedin{
    width: 25px;
    color: #0A66C2;
}

.fa-instagram{
    width: 25px;
    color: #E4405F;
}

.fa-apple{
    width: 25px;
    color: #555555;
}

.footer-second-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

footer p {
    text-align: center;
}

/* Responsive style start here */

/* Tablet responsive style start here */

@media screen and (max-width:768px) {
    nav, .banner-section, .about-gamer, .play-instantly, .play-games-online, .careers-container{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
    }

    nav ul{
        display: block;
    }

    nav li{
        margin-top: 20px;
    }

    .banner-section{
        background-position:bottom;
        background-size: 80%;
    }

    .banner-section .primary-btn, .general-btn{
        margin: 20px auto;
        display: block;
    }

    .banner-section, .play-games-online{
        flex-direction: column-reverse;
    }

    .images-videos-grid{
        grid-template-columns: 1fr;
    }

    .logo{
        justify-content: center;
        margin: 20px 0;
    }

    .banner-section{
        padding-top: 20px;
    }

    .banner-section, .about-gamer-content p{
        font-size: 20px;
    }
    .banner-img img{
        width: 120%;
        margin-top: 30px;
    }
    .funny-videos{
        margin: 80px 100px;
    }

.play-instantly{
    margin: 0px;
}

    .play-instanntly-content,
.play-games-online-content p {
    color: #534C64;
    font-size: 22px;
    font-weight: 400;
    margin: 30px;
    text-align: center;
}

.play-games-online-content h2{
    font-size: 36px;
}

.play-games-online-content, h2, p{
    text-align: center;
    margin-bottom: 20px;
}

.about-gamer-img{
    width: 70%;
}

.about-gamer-img img{
    width: 100%;
}

.about-gamer h2{
    text-align: center;
}

.about-gamer p{
    text-align: center;
}
.about-gamer-content .primary-btn{
    margin: 10px auto;
    display: block;
}
.play-instanntly-content{
    text-align: center;
}
}

/* Small size device style start here */

@media screen and (max-width:576px) {
    .banner-section{
        background-position:bottom;
        background-size: 100%;
    }

    .banner-content{
        width: 85%;
    }

    .banner-img{
        width: 70%;
    }

    .below-img{
        width: 370px;
    }

    .play-games-online-content p{
        margin: 20px 0px;
    }

    .fold-img{
        width: 120px;
        margin-top: 275px;
        margin-left: -20px;
    }

    .online-fold-img{
        width: 120px;
        margin-top: 250px;
        margin-left: -95px;
    }

    .footer-menu ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .play-instanntly-content,
.play-games-online-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 30px;
    text-align: center;
}

}