* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    max-width: 1440px;
}

/* header style starting here */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-text {
    color: #FF42A5;
}

.logo-text {
    font-size: 45px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.highlighted-menu{
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);    
}

.menu-btn {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Banner style starting here */

.banner-section {
    background: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content {
    width: 50%;
}

.banner-content h2 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-content p,
button {
    margin: 15px;
    margin-left: 180px;
}

.primary-btn {
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    ;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.general-btn {
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    margin-left: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* about gamer section styling start here */

.about-gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.fancy-header {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

.about-gamer-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

blockquote {
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

/* Funny videos styling start here */

.funny-videos h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.funny-videos p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.images-videos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.images-videos-grid img {
    width: 100%;
}

/* play instantly styling start here */

.play-instanntly-content,
.play-games-online-content h2 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.play-instanntly-content p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}

.play-instantly {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.play-instant-img {
    width: 50%;
}

.below-img {
    position: relative;
    width: 70%;
    z-index: 0;
}

.fold-img {
    width: 15%;
    height: auto;
    position: absolute;
    margin-top: 300px;
    margin-left: -80px;
    z-index: 1;
}

/* play games online styling start here */
.play-games-online {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
}

/* careers styling start here */
.careers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.career-designation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.careers {
    background-color: #F948B2;
    width: 100%;

}

.careers-content {
    width: 50%;
}

.careers-content h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.careers-content p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.career-designation {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.careers-img {
    width: 50%;
}

.careers-img img {
    width: 100%;
}

/* Game icon features style here */

.game-icon-features {
    display: grid;
    gap: 30px;
    grid-template-columns:repeat(5, 1fr);
    justify-items: center;
    align-content: center;
    margin: 30px 0;
}

.game-icon-item {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

/* Footer design start here */

footer{
    background-color:#0B0223;;
    color: #FFF;
    padding: 30px 0;
}

.logo-footer{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px 0;
}

.footer-icon{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.footer-second-menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

footer p{
    text-align: center;
}